<!DOCTYPE html>

<title>OrderDetails index</title>

{% block body %}
    <h1>OrderDetails index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Total</th>
                <th>Status</th>
                <th>Created_at</th>
                <th>Updated_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for order_detail in order_details %}
            <tr>
                <td>{{ order_detail.id }}</td>
                <td>{{ order_detail.total }}</td>
                <td>{{ order_detail.status }}</td>
                <td>{{ order_detail.createdAt ? order_detail.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ order_detail.updatedAt ? order_detail.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_order_details_show', {'id': order_detail.id}) }}">show</a>
                    <a href="{{ path('app_order_details_edit', {'id': order_detail.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_order_details_new') }}">Create new</a>
{% endblock %}
