{% extends 'base.html.twig' %}

{% form_theme registrationForm 'bootstrap_5_layout.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="container border mt-5 p-5 w-50">
        <div class="text-center mb-4">
            <h1>Register</h1>
        </div>

        <div class="row">
            <div class="col-6">
                {{ form_start(registrationForm) }}
                    {{ form_row(registrationForm.username) }}
                    {{ form_row(registrationForm.plainPassword, {
                        label: 'Password'
                    }) }}
                    {{ form_row(registrationForm.email) }}
                    {{ form_row(registrationForm.firstname) }}
                    {{ form_row(registrationForm.lastname) }}
            </div>
            <div class="col-6">
                {{ form_row(registrationForm.phone) }}
                {{ form_row(registrationForm.gender) }}
                {{ form_row(registrationForm.address_1) }}
                {{ form_row(registrationForm.address_2) }}
                {{ form_row(registrationForm.address_3) }}
                {{ form_row(registrationForm.address_4) }}
            </div>
        </div>
        {{ form_row(registrationForm.agreeTerms) }}
        <div class="text-center">
            <button type="submit" class="btn btn-lg btn-primary">Register</button>
            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}
