<!DOCTYPE html>

<title>OrderItems index</title>

{% block body %}
    <h1>OrderItems index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Quantity</th>
                <th>Created_at</th>
                <th>Updated_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for order_item in order_items %}
            <tr>
                <td>{{ order_item.id }}</td>
                <td>{{ order_item.quantity }}</td>
                <td>{{ order_item.createdAt ? order_item.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ order_item.updatedAt ? order_item.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_order_items_show', {'id': order_item.id}) }}">show</a>
                    <a href="{{ path('app_order_items_edit', {'id': order_item.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_order_items_new') }}">Create new</a>
{% endblock %}
