{% extends '/BaseTemplates/UserBase.html.twig' %}

{% block body %}
	<body>
		<div
			class="container">
			<!-- Header -->
			<div id="header">
				<div
					class="row">
					<!-- search -->
					<div id="search" class="col-md-4 col-sm-12 col-xs-12">
						<form method="post" name="sform" action="#">
							<input type="submit" name="submit" value="">
							<input onfocus="searchFocus();" onblur="searchBlur();" type="text" name="stext" value="Search...">
						</form>
					</div>
					<!-- end search -->

					<div id="login" class="col-md-4 col-sm-12 col-xs-12 text-right border" style="padding-top: 7px; margin-bottom: -4px;">
						{% if app.user %}
							<div>
								Hello
								{{ app.user.userIdentifier }},
								<a href="{{ path('app_logout') }}">Logout</a>
							</div>
						{% endif %}

						{% if app.user == null %}

							<a href="{{ path('app_login') }}" style="text-decoration:none;">Login</a>

							|

							<a href="{{ path('app_register') }}" style="text-decoration:none;">Register</a>

						{% endif %}
					</div>
				</div>
			</div>
			<!-- End Header -->

			<!-- Banner  -->
			<div id="banner">
				<div class="row">
					<div id="logo" class="col-md-4 col-sm-12 col-xs-12">
						<h1>
							<a href="{{ path('app_index') }}">
								<img src="images/LOGO.png" width="120" height="100">
							</a>
						</h1>
					</div>
					<div id="ship" class="col-md-8 col-sm-12 col-xs-12">
						<img src="images/banner-1.png">
					</div>
				</div>
			</div>
			<!-- End Banner -->

			<!-- Body -->
			<div id="body">
				<div class="row">
					<div class="col-md-3 col-sm-12 col-xs-12">
						<div id="menu-but" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</div>
						<div id="menu" class="sidebar collapse navbar-collapse">
							<h2 class="h2-bar">Category</h2>
							<ul>

								<li><a href="#">Gaming Laptop</a></li>
								<li><a href="#">Gaming PC</a></li>
								<li><a href="#">Office PC</a></li>
								<li><a href="#">Computer Component</a></li>
								<li><a href="#">Display Monitor</a></li>
								<li><a href="#">Gears</a></li>
								<li><a href="#">Music and Sound</a></li>
								<li><a href="#">Accessory</a></li>

							</ul>
						</div>
					</div>
					<div class="col-md-9 col-sm-12 col-xs-12">
						<div id="slider">
							<div
								id="myCarousel" class="carousel slide" data-ride="carousel">
								<!-- Indicators -->
								<ol class="carousel-indicators">
									<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
									<li data-target="#myCarousel" data-slide-to="1"></li>
									<li data-target="#myCarousel" data-slide-to="2"></li>
									<li data-target="#myCarousel" data-slide-to="3"></li>
									<li data-target="#myCarousel" data-slide-to="4"></li>
								</ol>

								<!-- Wrapper for slides -->
								<div class="carousel-inner" role="listbox">
									<div class="item active">
										<img src="images/cs1.png">
									</div>

									<div class="item">
										<img src="images/cs2.png">
									</div>

									<div class="item">
										<img src="images/cs3.png">
									</div>

									<div class="item">
										<img src="images/cs4.png">
									</div>

									<div class="item">
										<img src="images/cs5.png">
									</div>

								</div>

								<!-- Left and right controls -->
								<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
									<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
									<span class="sr-only">Previous</span>
								</a>
								<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
									<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
									<span class="sr-only">Next</span>
								</a>
							</div>
						</div>
						<div id="main">
							<div class="products">
								<h2 class="h2-bar">Bestseller</h2>
								<div class="row">
									<div class="col-md-3 col-sm-6 product-item text-center">
										<a href="#"><img width="80" height="144" src="#"></a>
										<h3>
											<a href="#">iphone 14 pro max</a>
										</h3>
										<p>12 month warranty</p>
										<p>New 100%</p>
										<p class="price">5000$</p>
									</div>
								</div>
							</div>
							<div class="products">
								<h2 class="h2-bar">Newest product</h2>
								<div class="row">
									{% for product in products %}
										<div class="col-md-3 col-sm-6 product-item text-center">
											<a href="{{ path('app_product_show', {'id': product.id}) }}"><img width="80" height="144" src="#"></a>
											<h3>
												<a href="{{ path('app_product_show', {'id': product.id}) }}">{{ product.name }}</a>

											</h3>
											<p>Warranty: 12 month warranty</p>
											<p>Status: New 100%</p>
											<p class="price">Price:
												{{ product.price }}$</p>
										</div>
									{% endfor %}

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Body -->

			<!-- Footer -->
			<div id="footer">
				<div class="row">
					<div id="footer-main" class="col-md-12 col-sm-12 col-xs-12">
						<div id="logo" class="col-md-4 col-sm-12 col-xs-12">
							<h1>
								<a href="{{ path('app_index') }}">
									<img src="images/LOGO.png" width="120" height="100">
								</a>
							</h1>
						</div>
						<div class="text-center">
							<a href="https://www.facebook.com/uniofgreenwich">
								<i class='bx bxl-facebook bx-lg '></i>
							</a>
							<a href="https://www.instagram.com/uniofgreenwich/">
								<i class='bx bxl-instagram bx-lg'></i>
							</a>
							<a href="https://www.youtube.com/user/UniversityGreenwich">
								<i class='bx bxl-youtube bx-lg'></i>
							</a>
						</div>

						<p>
							<b>Address:</b>
							Golden Park Tower, 2nd Pham Van Bach, Cau Giay, Ha Noi |
							<b>Hotline</b>
							0977 00 khong co</p>
						<p>TBK Zone &copy;</p>
					</div>
				</div>
			</div>
			<!-- End Footer -->
		</div>
	</body>
{% endblock %}
