{% form_theme form 'bootstrap_5_layout.html.twig' %}
{{ form_start(form) }}
    <div class="mb-3">
    {{ form_label(form.title) }}
    {{ form_widget(form.title) }}
    </div>
<button class="btn bg-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
