<div class="row">
	{% for product in products %}
		<div class="col-md-3 col-sm-6 product-item text-center">
			<a href="{{ path('app_product_show', {'id': product.id}) }}"><img width="180" height="180" src="{{ asset('/images/Product/'~product.image) }}"></a>
			<h3>
				<a href="{{ path('app_product_show', {'id': product.id}) }}">{{ product.name }}</a>

			</h3>
			<p>Warranty: {{ product.Warranty}}</p>
			<p>Brand: {{ product.brand }}</p>
			<p class="price">Price: {{ product.price|format_currency("VND") }} </p>
		</div>
	{% endfor %}
</div>
