{% extends "/Admin_interface/base.html.twig" %}

{% block header1 %}Products{% endblock %}
{% block header2 %}Products{% endblock %}
{% block title %}Products{% endblock %}

{% block body %}
	<a href="{{ path('app_product_new') }}" method="post" class="btn bg-primary mb-3">New product</a>
	<div class="card">
		<div class="card-header">
			<h3 class="card-title">All products</h3>

			<div class="card-tools">
				<button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
					<i class="fas fa-minus"></i>
				</button>
				<button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
					<i class="fas fa-times"></i>
				</button>
			</div>
		</div>
		<div class="card-body p-0">
			<table class="table table-striped projects">
				<thead>
					<tr>
						<th class="id text-center">
							ID
						</th>
						<th class="name text-center">
							Name
						</th>
						<th class="image text-center">
							Image
						</th>
						<th class="price text-center">
							Price
						</th>
						<th class="category text-center">
							Category
						</th>
						<th class="stock text-center">
							Stock
						</th>
						<th class="action text-center">Action</th>
					</tr>
				</thead>
				<tbody>
					{% for product in products %}
						<tr class="">
							<td class="id text-center">
								<a href="{{ path('app_product_show_admin', {'id': product.id}) }}">
									{{product}}
								</a>
							</td>
							<td class="name text-center">
								{{product.name}}
							</td>
							<td class="image text-center">
								<img src="{{ asset('/images/Product/'~product.image) }}" height="200px">
							</td>
							<td class="price text-center">
								{{ product.price|format_currency("VND") }}
							</td>
							<td class="category text-center">
								{{product.category}}
							</td>
							<td class="stock text-center">
								{{product.stock}}
							</td>
							<td class="action text-center">
								<a class="btn btn-primary" href="{{ path('app_product_show_admin', {'id': product.id}) }}">
									<i class="fas fa-folder"></i>
									View
								</a>
								<a class="btn btn-info" href="{{ path('app_product_edit', {'id': product.id}) }}">
									<i class="fa fa-pencil-alt"></i>
									Edit
								</a>
								{{ include('/Admin_interface/products_panel/_delete_form.html.twig') }}
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<!-- /.card-body -->
	</div>
	<style>
	@media (max-width:1100px) {
		.action {
			display: none;
		}
	}
	@media (max-width: 750px) {
		.stock {
			display: none;
		}
	}
	@media (max-width: 700px) {
		.category {
			display: none;
		}
	}
	@media (max-width: 600px) {
		.price {
			display: none;
		}
	}
	</style>
{% endblock %}
