{% extends '/BaseTemplates/ProductBase.html.twig' %}
{% block nav %}
<nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ path('app_index') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled">Disabled</a>
                    </li>
                </ul>
            
            <div style="margin-right:50px;">
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>

            {% if app.user %}
                <div style="padding-right:15px">
                    Hello {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
                <a href="{{ path('app_cart_index') }}">
                    <i class="fa-solid fa-cart-shopping">
                        (
                            {% set cart_count = 0 %}
                            {% for cart in carts %}
                                {% if cart.user == app.user %}
                                    {% set cart_count = cart_count + cart.quantity  %}
                                {% endif %}
                            {% endfor %}
                            {{ cart_count }}
                        )
                    </i>
                </a>
            {% endif %}

            {% if app.user == null %}
                <div class="m-1">
                    <a href="{{ path('app_login') }}" style="text-decoration:none;">Login</a>
                </div>
                |
                <div class="m-1">
                    <a href="{{ path('app_register') }}" style="text-decoration:none;">Register</a>
                </div>
            {% endif %}
            </div>
        </div>
    </nav>
{% endblock %}
{% block body %}
    <div class="container mt-5 p-5 border">
        <h1>Product index</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Stock</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for product in products %}
                    <tr>
                        <td>{{ product.id }}</td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.price }}</td>
                        <td>{{ product.stock }}</td>
                        <td>
                            <a href="{{ path('app_product_show', {'id': product.id}) }}">show</a>
                            {% if app.user %}
                                <a href="{{ path('app_product_add_to_cart', {'product_id': product.id, 'username': app.user.userIdentifier, 'quantity': 1}) }}">add to cart</a>
                            {% endif %}
                            <a href="{{ path('app_product_edit', {'id': product.id}) }}">edit</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <a href="{{ path('app_product_new') }}">Create new</a>
    </div>





    <div class="container mt-5 p-5 border">
        
    </div>
{% endblock %}
