{% extends "BaseTemplates/UserBase.html.twig" %}
{% block body %}
	{% include "UserInterface/NavBar.html.twig" %}
	<div
		class="container">

		<!-- Body -->
			<div id="body"> <div class="row">
				<div class="col-md-3 col-sm-12 col-xs-12">
					{% include "UserInterface/SideBar.html.twig" %}
				</div>
				<div class="col-md-9 col-sm-12 col-xs-12" style="margin-top:15px">
					<div>
						<div id="product">
						<div id="prd-thumb" class="col-md-6 col-sm-12 col-xs-12 text-center">
							<img width="360px" src="{{ asset('/images/Product/'~product.image) }}">
						</div>
						<div id="prd-intro" class="col-md-6 col-sm-12 col-xs-12">
							<h3>{{ product.name }}
							</h3>
							<p>
								<h5><span class="sl">Brand: {{product.brand}}</span></h5>
							</p>
							<p>
								<span class="sl">Model: {{product.model}}</span>
							</p>
							<p id="prd-price">
								<span class="sl">Price: {{ product.price|format_currency("VND") }}</span>
							</p>
							<p>
								<span class="sl">Warranty: {{ product.Warranty}}</span>
							</p>
							<p>
								<span class="sl">Stocking status:</span>{{ product.stock }}
							</p>
							<p>
								<span class="sl">Gift: {{ product.gift }}</span>
							</p>
							{% if app.user %}
								{% if product.stock <= 0 %}
									<div class="btn btn-danger">OUT OF STOCK</div>
								{% endif %}
								{% if product.stock > 0 %}
								
									
									<a href="{{ path('app_product_add_to_cart', {'product_id': product.id, 'username': app.user.userIdentifier, 'quantity': 1}) }}"><button type="button" class="btn btn-primary">ADD TO CART</button></a>
								{% endif %}
                            {% endif %}
							{% if app.user == null %}
							{% if product.stock <= 0 %}
									<div class="btn btn-danger">OUT OF STOCK</div>
								{% endif %}
								{% if product.stock > 0 %}
								
									
									<a onclick="return confirm('YOU NEED TO LOGIN FIRST!')" href="{{ path('app_login') }}"><button type="button" class="btn btn-primary">ADD TO CART</button></a>
								{% endif %}
							{% endif %}
								
							</a>
						</div>
						<div id="prd-details" class="col-md-12 col-sm-12 col-xs-12 text-justify">
							<p>
								{# description  #}
							</p>
						</div>
					</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Body -->

		<!-- Footer -->
		{% include "UserInterface/Footer.html.twig" %}
		<!-- End Footer -->
	</div>
</body>{% endblock %}
