{% extends '/BaseTemplates/ProductBase.html.twig' %}
{% block body %}
	<div id="body">
		<div class="row">
			<div class="col-md-3 col-sm-12 col-xs-12">
				<div id="menu-but" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</div>
				<div id="menu" class="sidebar collapse navbar-collapse">
					<h2 class="h2-bar">Category</h2>
					<ul>

						<li><a href="#">Gaming Laptop</a></li>
						<li><a href="#">Gaming PC</a></li>
						<li><a href="#">Office PC</a></li>
						<li><a href="#">Computer Component</a></li>
						<li><a href="#">Display Monitor</a></li>
						<li><a href="#">Gears</a></li>
						<li><a href="#">Music and Sound</a></li>
						<li><a href="#">Accessory</a></li>

					</ul>
				</div>
			</div>
			<div
				class="col-md-9 col-sm-12 col-xs-12">
				{# <div id="slider">
									
								</div> #}
				<div id="main">
					<div id="product">
						<div id="prd-thumb" class="col-md-6 col-sm-12 col-xs-12 text-center">
							<img width="160px" src="quantri/anh/p16.png">
						</div>
						<div id="prd-intro" class="col-md-6 col-sm-12 col-xs-12">
							<h3>{{ product.name }}
							</h3>
							<p id="prd-price">
								<span class="sl">Price: {{ product.price }}$</span>
							</p>
							<p>
								<span class="sl">Warranty:</span>12 month warranty</p>
							<p>
								<span class="sl">Accessories:</span>Headphones, ...</p>
							<p>
								<span class="sl">Status:</span>New 100%</p>
							<p>
								<span class="sl">Promotion:</span>screen protector for your phone</p>
							<p>
								<span class="sl">Stocking status:</span>{{ product.stock }}</p>

							{% if app.user %}
								{% if product.stock <= 0 %}
									<div class="btn btn-danger">OUT OF STOCK</div>
								{% endif %}
								{% if product.stock > 0 %}
								
									
									<a href="{{ path('app_product_add_to_cart', {'product_id': product.id, 'username': app.user.userIdentifier, 'quantity': 1}) }}"><button type="button" class="btn btn-primary">ADD TO CART</button></a>
								{% endif %}
                            {% endif %}
							{% if app.user == null %}
							{% if product.stock <= 0 %}
									<div class="btn btn-danger">OUT OF STOCK</div>
								{% endif %}
								{% if product.stock > 0 %}
								
									
									<a onclick="return confirm('YOU NEED TO LOGIN FIRST!')" href="{{ path('app_login') }}"><button type="button" class="btn btn-primary">ADD TO CART</button></a>
								{% endif %}
							{% endif %}
								
							</a>
						</div>
						<div id="prd-details" class="col-md-12 col-sm-12 col-xs-12 text-justify">
							<p>
								{# description  #}
							</p>
						</div>
					</div>

				
				</div>
				{# <div id="main">
					<h1>Product</h1>
					<table class="table">
						<tbody>
							<tr>
								<th>Id</th>
								<td>{{ product.id }}</td>
							</tr>
							<tr>
								<th>Name</th>
								<td>{{ product.name }}</td>
							</tr>
							<tr>
								<th>Price</th>
								<td>{{ product.price }}</td>
							</tr>
							<tr>
								<th>Stock</th>
								<td>{{ product.stock }}</td>
							</tr>
						</tbody>
					</table>

					<a href="{{ path('app_product_index') }}">back to list</a>


				</div> #}
			</div>
		</div>
	</div>

{% endblock %}
