<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}TBK Zone
			{% endblock %}
		</title>
		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			<link rel="stylesheet" type="text/css" href="{{ asset('user-interface/css/bootstrap.css')}}"/>
			<link rel="stylesheet" href="{{ asset('user-interface/css/style.css')}}"/>
			<link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
		{% endblock %}

		{% block javascripts %}
			<script src="{{ asset('user-interface/js/jquery-3.1.1.min.js') }}"></script>
			<script src="{{ asset('user-interface/js/bootstrap.js') }}"></script>
			<script src="https://kit.fontawesome.com/89158a5fb7.js" crossorigin="anonymous"></script>
		{% endblock %}
	</head>
	<body>
		<div
			class="container">
			<!-- Header -->
			<div id="header">
				<div
					class="row">
					<!-- search -->
					<div id="search" class="col-md-4 col-sm-12 col-xs-12">
						<form method="post" name="sform" action="#">
							<input type="submit" name="submit" value="">
							<input onfocus="searchFocus();" onblur="searchBlur();" type="text" name="stext" value="Search...">
						</form>
					</div>
					<!-- end search -->

					<div id="login" class="col-md-4 col-sm-12 col-xs-12 text-right border" style="padding-top: 7px; margin-bottom: -4px;">
						{% if app.user %}
							<div>
								Hello
								{{ app.user.userIdentifier }},
								<a href="{{ path('app_logout') }}">Logout</a>
							</div>
						{% endif %}

						{% if app.user == null %}

							<a href="{{ path('app_login') }}" style="text-decoration:none;">Login</a>

							|

							<a href="{{ path('app_register') }}" style="text-decoration:none;">Register</a>

						{% endif %}
					</div>
				</div>
			</div>
			<!-- End Header -->
			<!-- Banner  -->
			<div id="banner">
				<div class="row">
					<div id="logo" class="col-md-4 col-sm-12 col-xs-12">
						<h1>
							<a href="{{ path('app_index') }}">
								<img src="\images\LOGO.png" width="120" height="100">
							</a>
						</h1>
					</div>
					<div id="ship" class="col-md-8 col-sm-12 col-xs-12">
						<img src="\images\banner-1.png">
					</div>
				</div>
			</div>
			<!-- End Banner -->
			{% block body %}
				<!-- Body -->

				<!-- End Body -->
			{% endblock %}
			{% block footer %}
			<!-- Footer -->
                <div id="footer">
                    <div class="row">
                        <div id="footer-main" class="col-md-12 col-sm-12 col-xs-12">
                            <div id="logo" class="col-md-4 col-sm-12 col-xs-12">
                                <h1>
                                    <a href="{{ path('app_index') }}">
                                        <img src="/images/LOGO.png" width="120" height="100">
                                    </a>
                                </h1>
                            </div>
                            <div class="text-center">
                                <a href="https://www.facebook.com/uniofgreenwich">
                                    <i class='bx bxl-facebook bx-lg '></i>
                                </a>
                                <a href="https://www.instagram.com/uniofgreenwich/">
                                    <i class='bx bxl-instagram bx-lg'></i>
                                </a>
                                <a href="https://www.youtube.com/user/UniversityGreenwich">
                                    <i class='bx bxl-youtube bx-lg'></i>
                                </a>
                            </div>

                            <p>
                                <b>Address:</b>
                                Golden Park Tower, 2nd Pham Van Bach, Cau Giay, Ha Noi |
                                <b>Hotline</b>
                                0977 00 khong co</p>
                            <p>TBK Zone &copy;</p>
                        </div>
                    </div>
                </div>

            {% endblock %}
			<!-- End Footer -->
		</div>

		
	</body>
</html>
