<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}TBK Zone
			{% endblock %}
		</title>
		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			<link rel="stylesheet" type="text/css" href="{{ asset('user-interface/css/bootstrap.css')}}"/>
			<link rel="stylesheet" href="{{ asset('user-interface/css/style.css')}}"/>
			<link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
			<link rel="stylesheet" href="{{ asset('admin-interface/css/datepicker3.css')}}"/>
			<link rel="stylesheet" href="{{ asset('admin-interface/css/styles.css')}}"/>
		{% endblock %}

		{% block javascripts %}
			<script src="{{ asset('user-interface/js/jquery-3.1.1.min.js') }}"></script>
			<script src="{{ asset('user-interface/js/bootstrap.js') }}"></script>
			<script src="https://kit.fontawesome.com/89158a5fb7.js" crossorigin="anonymous"></script>
		{% endblock %}
	</head>
	<body>
			{% block body %}{% endblock %}
	</body>
</html>
