{% extends "BaseTemplates/UserBase.html.twig" %}

{% block body %}
	{% include "UserInterface/NavBar.html.twig" %}
	<div class="container">
		<div class="row">
			<div class="col-md-5">{% include "UserInterface/SideBar.html.twig" %}</div>
			{# sắp xếp #}
			<div class="col-md-7">
				<div class="row">
					<h5 class="text text-primary">Sort product</h5>
					<div class="form-group">
						<select class="form-control" width="50px" onchange="window.location.href=this.value">
							<option>Select one</option>
							<option value="{{ path('sort_price_ascending') }}">Price Ascending</option>
							<option value="{{ path('sort_price_descending') }}">Price Descending</option>
						</select>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<h5 class="text text-primary">Search product</h5>
					</div>
					<div class="col">
						<div class="form-group">
							<form action="{{ path('search_product') }}" method="post">
								<input value="{{ app.request.get('keyword') }}" class="form-control" type="search" name="keyword" placeholder="Enter product title" required maxlength="10">
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row" style="margin-top:20px; padding: 1.3%">
			{% if products|length == 0 %}
				<div class="text-center">
					<h1 class="text-danger m-4">No product found !</h1>
				</div>
			{% else %}
				<p class="h2-bar">Total products :
					{{ products | length }}
				</p>
				<div class="card-group">
					<div class="row">
						{% for product in products %}
							{% if products | length < 4 %}
								<div class="col mt-4">
								{% else %}
									<div class="col-md-3 mt-4 product-item text-center">
									{% endif %}
									<div class="card">
										<a href="{{ path('app_product_show', {'id' : product.id })}}">
											<img width="180" height="180" src="{{ asset('/images/product/'~product.image) }}">
										</a>
										<h3>
											<a href="{{ path('app_product_show', {'id': product.id}) }}">{{ product.name }}</a>

										</h3>
										<p>Warranty:
											{{ product.Warranty}}</p>
										<p>Purchasing gift:
											{{ product.gift }}</p>
										{% if product.stock>=1 %}
											<p class="price">Price:
												{{ product.price|format_currency("VND") }}
											</p>
										</div>
										<div class="card card-footer mt-1">
											{% if app.user %}

												<form action="{{ path('app_product_add_to_cart' , {'product_id' : product.id, 'username': app.user.userIdentifier, 'quantity': 1 })}}" method="post">
													<input type="hidden" name="productid" value="{{ product.id }}">
													<input type="number" name="quantity" min="1" max="{{ product.stock}}">
													<br>
													<input class="btn btn-success mt-3" type="submit" value="Add to cart">
												</form>
											{% endif %}
										{% else %}
											<h5 class="text text-primary">
												Price:
												{{ product.price }}
												$
											</h5>
											<h5 class="text text-danger">
												Out of stock
											</h5>
										{% endif %}
									</div>
								</div>
							{% endfor %}
						</div>
					</div>
				{% endif %}
				{% include "UserInterface/Footer.html.twig" %}
			</div>
		</div>
	{% endblock %}
