<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}{% endblock %}
		</title>
		{% block stylesheets %}
			<!-- Google Font: Source Sans Pro -->
			<!-- Google Font: Source Sans Pro -->
			<link
			rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback"> <!-- Font Awesome Icons -->
			<link
			rel="stylesheet" href="{{ asset('/admin-interface/plugins/fontawesome-free/css/all.min.css') }}">
			<!-- overlayScrollbars -->
			<link
			rel="stylesheet" href="{{ asset('/admin-interface/plugins/overlayScrollbars/css/OverlayScrollbars.min.css') }}">
			<!-- Theme style -->
			<link rel="stylesheet" href="{{ asset('/admin-interface/dist/css/adminlte.min.css') }}">
		{% endblock %}
		{% block javascripts %}
			<!-- REQUIRED SCRIPTS -->
			<!-- jQuery --><script src="{{ asset('/admin-interface/plugins/jquery/jquery.min.js') }}"> </script>
			<!-- Bootstrap -->
			<script src="{{ asset('/admin-interface/plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
			<!-- overlayScrollbars -->
			<script src="{{ asset('/admin-interface/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js') }}"></script>
			<!-- AdminLTE App -->
			<script src="{{ asset('/admin-interface/dist/js/adminlte.js') }}"></script>

			<!-- PAGE PLUGINS -->
			<!-- jQuery Mapael -->
			<script src="{{ asset('/admin-interface/plugins/jquery-mousewheel/jquery.mousewheel.js') }}"></script>
			<script src="{{ asset('/admin-interface/plugins/raphael/raphael.min.js') }}"></script>
			<script src="{{ asset('/admin-interface/plugins/jquery-mapael/jquery.mapael.min.js') }}"></script>
			<script src="{{ asset('/admin-interface/plugins/jquery-mapael/maps/usa_states.min.js') }}"></script>
			<!-- ChartJS -->
			<script src="{{ asset('/admin-interface/plugins/chart.js/Chart.min.js') }}"></script>
			<script src="{{ asset('/admin-interface/dist/js/pages/dashboard2.js') }}"></script>

			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

		{% endblock %}
	</head>
	<body class="hold-transition dark-mode sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
		<div
			class="wrapper">

			<!-- Preloader -->
			{% include "/Admin_interface/admin_panel/preloader.html.twig" %}

			<!-- Navbar -->
			{% include "/Admin_interface/admin_panel/navbar.html.twig" %}
			<!-- /.navbar -->

			<!-- Main Sidebar Container -->
			{% include "/Admin_interface/admin_panel/sidebar.html.twig" %}

			<!-- Content Wrapper. Contains page content -->
				<div
				class="content-wrapper"> <!-- Content Header (Page header) -->
				<div class="content-header">
					<div class="container-fluid">
						<div class="row mb-2">
							<div class="col-sm-6">
								<h1 class="m-0">{% block header1 %}{% endblock %}</h1>
							</div>
							<!-- /.col -->
							<div class="col-sm-6">
								<ol class="breadcrumb float-sm-right">
									<li class="breadcrumb-item">
										<a href="{{path('app_admin_index')}}">Home</a>
									</li>
									<li class="breadcrumb-item active">{% block header2 %}{% endblock %}</li>
								</ol>
							</div>
							<!-- /.col -->
						</div>
						<!-- /.row -->
					</div>
					<!-- /.container-fluid -->
				</div>
				<!-- /.content-header -->

				<!-- Main content -->
				<section class="content"> {% block body %}{% endblock %}
					</section>
					<!-- /.content -->
				</div>
				<!-- /.content-wrapper -->

			<!-- Main Footer -->
				{# {% include "/Admin_interface/admin_panel/footer.html.twig" %} #}
			</div>
			<!-- ./wrapper -->
		</body>
	</html>
