{% extends "/Admin_interface/base.html.twig" %}

{% block header1 %}Orders
{% endblock %}
{% block header2 %}Orders
{% endblock %}
{% block tile %}{% endblock %}

{% block body %}
	<div class="card">
		<div class="card-header">
			<h3 class="card-title">All orders</h3>
			<div class="card-tools">
				<button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
					<i class="fas fa-minus"></i>
				</button>
				<button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
					<i class="fas fa-times"></i>
				</button>
			</div>
		</div>
		<div class="card-body p-0">
			<table class="table table-striped projects">
				<thead>
					<tr>
						<th class="text-center">
							ID
						</th>
						<th class="text-center">
							Customer
						</th>
						<th class="text-center">
							Total
						</th>
						<th class="text-center">
							Created Date
						</th>
						<th class="text-center">
							Updated Date
						</th>
						<th class="text-center">
							Status
						</th>
					</tr>
				</thead>
				<tbody>
					{% for order_detail in order_details %}
						<tr>
							<td class="text-center">
								<a href="{{ path('app_order_detail', {'id': order_detail}) }}">{{order_detail}}</a>
							</td>
							<td class="text-center">
								{{order_detail.user.firstname}}
								{{order_detail.user.lastname}}
							</td>
							<td class="text-center">
								{{ order_detail.total|format_currency("VND") }}
							</td>
							<td class="text-center">
								{{order_detail.createdat|format_datetime}}
							</td>
							<td class="text-center">
								{{order_detail.updatedat|format_datetime}}
							</td>
							<td class="text-center">
								{% if order_detail.status == 0 %}
									<span class="badge badge-warning">Pending</span>
								{% endif %}
								{% if order_detail.status == 1 %}
									<span class="badge badge-info">Processing</span>
								{% endif %}
								{% if order_detail.status == 2 %}
									<span class="badge badge-info">Shipped</span>
								{% endif %}
								{% if order_detail.status == 3 %}
									<span class="badge badge-success">Delivered</span>
								{% endif %}
								{% if order_detail.status == 4 %}
									<span class="badge badge-danger">Canceled</span>
								{% endif %}
							</td>
						</tr>
					</tbody>
				</tbody>
			</tdclass="text-center">
			<td class="project-actions text-center"></td>
		</tr>
	{% endfor %}
</tbody></table></div><!-- /.card-body --></div>{% endblock %}
