{% extends "/Admin_interface/base.html.twig" %}

{% block header1 %}Order #{{order_detail}}
{% endblock %}
{% block header2 %}Orders
{% endblock %}
{% block title %}Order #{{order_detail}}
{% endblock %}

{% block body %}
{# <div class="dropdown mb-2">
	<button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
		Change order status
	</button>
	<ul class="dropdown-menu">
		{% if order_detail.status == 0 %}
			<li>
				<a class="dropdown-item" href="{{ path('app_order_change_status', {'id': order_detail, 'status': 1}) }}">Processing</a>
			</li>
			<li>
				<a class="dropdown-item" href="{{ path('app_order_change_status', {'id': order_detail, 'status': 2}) }}">Shipped</a>
			</li>
			<li>
				<a class="dropdown-item" href="{{ path('app_order_change_status', {'id': order_detail, 'status': 3}) }}">Delivered</a>
			</li>
			<li>
				<a class="dropdown-item" href="{{ path('app_order_change_status', {'id': order_detail, 'status': 4}) }}">Canceled</a>
			</li>
		{% endif %}

		{% if order_detail.status == 1 %}
			<li>
				<a class="dropdown-item" href="{{ path('app_order_change_status', {'id': order_detail, 'status': 0}) }}">Pending</a>
			</li>
			<li>
				<a class="dropdown-item" href="{{ path('app_order_change_status', {'id': order_detail, 'status': 2}) }}">Shipped</a>
			</li>
			<li>
				<a class="dropdown-item" href="{{ path('app_order_change_status', {'id': order_detail, 'status': 3}) }}">Delivered</a>
			</li>
			<li>
				<a class="dropdown-item" href="{{ path('app_order_change_status', {'id': order_detail, 'status': 4}) }}">Canceled</a>
			</li>
		{% endif %}

		{% if order_detail.status == 2 %}
			<li>
				<a class="dropdown-item" href="{{ path('app_order_change_status', {'id': order_detail, 'status': 0}) }}">Pending</a>
			</li>
			<li>
				<a class="dropdown-item" href="{{ path('app_order_change_status', {'id': order_detail, 'status': 1}) }}">Processing</a>
			</li>
			<li>
				<a class="dropdown-item" href="{{ path('app_order_change_status', {'id': order_detail, 'status': 3}) }}">Delivered</a>
			</li>
			<li>
				<a class="dropdown-item" href="{{ path('app_order_change_status', {'id': order_detail, 'status': 4}) }}">Canceled</a>
			</li>
		{% endif %}

		{% if order_detail.status == 3 %}
			<li>
				<a class="dropdown-item" href="{{ path('app_order_change_status', {'id': order_detail, 'status': 0}) }}">Pending</a>
			</li>
			<li>
				<a class="dropdown-item" href="{{ path('app_order_change_status', {'id': order_detail, 'status': 1}) }}">Processing</a>
			</li>
			<li>
				<a class="dropdown-item" href="{{ path('app_order_change_status', {'id': order_detail, 'status': 2}) }}">Shipped</a>
			</li>
			<li>
				<a class="dropdown-item" href="{{ path('app_order_change_status', {'id': order_detail, 'status': 4}) }}">Canceled</a>
			</li>
		{% endif %}

		{% if order_detail.status == 4 %}
			<li>
				<a class="dropdown-item" href="{{ path('app_order_change_status', {'id': order_detail, 'status': 0}) }}">Pending</a>
			</li>
			<li>
				<a class="dropdown-item" href="{{ path('app_order_change_status', {'id': order_detail, 'status': 1}) }}">Processing</a>
			</li>
			<li>
				<a class="dropdown-item" href="{{ path('app_order_change_status', {'id': order_detail, 'status': 2}) }}">Shipped</a>
			</li>
			<li>
				<a class="dropdown-item" href="{{ path('app_order_change_status', {'id': order_detail, 'status': 3}) }}">Delivered</a>
			</li>
		{% endif %}
	</ul>
	Reset the quantity of the products: <input type="checkbox" name="reset_quantity">
	
	
</div> #}

<form action="{{ path('app_order_change_status', {'id': order_detail}) }}" method="post">
	<div class="card">
		<div class="card-header">
			<h3 class="card-title">Order Detail</h3>

			<div class="card-tools">
				<button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
					<i class="fas fa-minus"></i>
				</button>
				<button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
					<i class="fas fa-times"></i>
				</button>
			</div>
		</div>
		<div class="card-body p-0">
			<table class="table table-striped projects">
				<tr>
					<th>ID</th>
					<td>{{order_detail.id}}</td>
				</tr>
				<tr>
					<th>First name</th>
					<td>{{order_detail.firstname}}</td>
				</tr>
				<tr>
					<th>Last name</th>
					<td>{{order_detail.lastname}}</td>
				</tr>
				<tr>
					<th>Phone Number</th>
					<td>{{order_detail.phone}}</td>
				</tr>
				<tr>
					<th>Email</th>
					<td>{{order_detail.email}}</td>
				</tr>
				<tr>
					<th>Address</th>
					<td>{{order_detail.address1}},
						{{order_detail.address2}},
						{{order_detail.address3}},
						{{order_detail.address4}}</td>
				</tr>
				<th>Zipcode</th>
				<td>{{order_detail.zipcode}}</td>
			</tr>
			<tr>
				<th>Created</th>
				<td>{{order_detail.createdat|format_datetime}}</td>
			</tr>
			<tr>
				<th>Last Updated</th>
				<td>{{order_detail.updatedat|format_datetime}}</td>
			</tr>
			<tr>
				<th>status</th>
				<td>
				{% if order_detail.status == 0 %}
						<span class="badge badge-warning">Pending</span>
					{% endif %}
					{% if order_detail.status == 1 %}
						<span class="badge badge-info">Processing</span>
					{% endif %}
					{% if order_detail.status == 2 %}
						<span class="badge badge-info">Shipped</span>
					{% endif %}
					{% if order_detail.status == 3 %}
						<span class="badge badge-success">Delivered</span>
					{% endif %}
					{% if order_detail.status == 4 %}
						<span class="badge badge-danger">Canceled</span>
					{% endif %}
				<select name="status" id="status">
					{% if order_detail.status == 0 %}
						<option value=0 selected>Pending</option>
						<option value=1>Processing</option>
						<option value=2>Shipped</option>
						<option value=3>Delivered</option>
						<option value=4>Canceled</option>
					{% endif %}
					{% if order_detail.status == 1 %}
						<option value=0>Pending</option>
						<option value=1 selected>Processing</option>
						<option value=2>Shipped</option>
						<option value=3>Delivered</option>
						<option value=4>Canceled</option>
					{% endif %}
					{% if order_detail.status == 2 %}
						<option value=0>Pending</option>
						<option value=1>Processing</option>
						<option value=2 selected>Shipped</option>
						<option value=3>Delivered</option>
						<option value=4>Canceled</option>
					{% endif %}
					{% if order_detail.status == 3 %}
						<option value=0>Pending</option>
						<option value=1>Processing</option>
						<option value=2>Shipped</option>
						<option value=3 selected>Delivered</option>
						<option value=4>Canceled</option>
					{% endif %}
					{% if order_detail.status == 4 %}
						<option value=0>Pending</option>
						<option value=1>Processing</option>
						<option value=2>Shipped</option>
						<option value=3>Delivered</option>
						<option value=4 selected>Canceled</option>
					{% endif %}
				</select>
				<h6 class="mt-2">Edit the stock of the products? <input type="checkbox" name="edit_product"></h6>
				</td>
			</tr>
			<tr>
				<th>Total</th>
				<td>{{order_detail.total|format_currency('VND')}}</td>
			</tr>
		</table>
	</div>
	<div class="m-3" ><button type="submit" class="btn bg-primary" method="post">Save</button></div>
</form>
<!-- /.card-body --></div><div class="card">
<div class="card-header">
	<h3 class="card-title">All items</h3>

	<div class="card-tools">
		<button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
			<i class="fas fa-minus"></i>
		</button>
		<button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
			<i class="fas fa-times"></i>
		</button>
	</div>
</div>
<div class="card-body p-0">
	<table class="table table-striped projects">
		<thead>
			<tr>
				<th class="text-center">
					ID
				</th>
				<th class="text-center">
					Name
				</th>
				<th class="text-center">
					Price
				</th>
				<th class="text-center">
					Quantity
				</th>
				<th class="text-center">
					Total
				</th>
			</tr>
		</thead>
		<tbody>
			{% for order_item in order_items %}
				{% for product in products %}
					{% if product == order_item.product %}
						<tr>
							<td class="text-center">
								<a href="{{ path('app_product_show_admin', {'id': product}) }}">{{product}}</a>
							</td>
							<td class="text-center">
								{{product.name}}
							</td>
							<td class="text-center">
								{{ product.price|format_currency("VND") }}
							</td>
							<td class="text-center">
								{{order_item.quantity}}
							</td>
							<td class="text-center">
								{{order_detail.total|format_currency("VND") }}
							</td>
						</tr>
					{% endif %}
				{% endfor %}
			</tbody>
		</tbody>
	</table>
</td class="text-center"></td><td class="project-actions text-center"></td></tr>{% endfor %}</tbody></table></div><!-- /.card-body --></div>{% endblock %}


{# 
{% extends "/Admin_interface/base.html.twig" %}

{% block header1 %}Order #{{order_detail}}
{% endblock %}
{% block header2 %}Orders
{% endblock %}
{% block title %}Order #{{order_detail}}
{% endblock %}

{% block body %}
<div class="dropdown mb-2">
	<button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
		Change order status
	</button>
	<ul class="dropdown-menu">
		{% if order_detail.status == 0 %}
			<li>
				<a class="dropdown-item" href="{{ path('app_order_change_status', {'id': order_detail, 'status': 1}) }}">Processing</a>
			</li>
			<li>
				<a class="dropdown-item" href="{{ path('app_order_change_status', {'id': order_detail, 'status': 11}) }}">Processing (Reset product quantity)</a>
			</li>
			<li>
				<a class="dropdown-item" href="{{ path('app_order_change_status', {'id': order_detail, 'status': 2}) }}">Shipped</a>
			</li>
			<li>
				<a class="dropdown-item" href="{{ path('app_order_change_status', {'id': order_detail, 'status': 12}) }}">Shipped (Reset product quantity)</a>
			</li>
			<li>
				<a class="dropdown-item" href="{{ path('app_order_change_status', {'id': order_detail, 'status': 3}) }}">Delivered</a>
			</li>
			<li>
				<a class="dropdown-item" href="{{ path('app_order_change_status', {'id': order_detail, 'status': 13}) }}">Delivered (Reset product quantity)</a>
			</li>
			<li>
				<a class="dropdown-item" href="{{ path('app_order_change_status', {'id': order_detail, 'status': 4}) }}">Canceled</a>
			</li>
			<li>
				<a class="dropdown-item" href="{{ path('app_order_change_status', {'id': order_detail, 'status': 14}) }}">Canceled (Reset product quantity)</a>
			</li>
		{% endif %}

		{% if order_detail.status == 1 %}
			<li>
				<a class="dropdown-item" href="{{ path('app_order_change_status', {'id': order_detail, 'status': 0}) }}">Pending</a>
			</li>
			<li>
				<a class="dropdown-item" href="{{ path('app_order_change_status', {'id': order_detail, 'status': 10}) }}">Pending (Reset product quantity)</a>
			</li>
			<li>
				<a class="dropdown-item" href="{{ path('app_order_change_status', {'id': order_detail, 'status': 2}) }}">Shipped</a>
			</li>
			<li>
				<a class="dropdown-item" href="{{ path('app_order_change_status', {'id': order_detail, 'status': 12}) }}">Shipped (Reset product quantity)</a>
			</li>
			<li>
				<a class="dropdown-item" href="{{ path('app_order_change_status', {'id': order_detail, 'status': 3}) }}">Delivered</a>
			</li>
			<li>
				<a class="dropdown-item" href="{{ path('app_order_change_status', {'id': order_detail, 'status': 13}) }}">Delivered (Reset product quantity)</a>
			</li>
			<li>
				<a class="dropdown-item" href="{{ path('app_order_change_status', {'id': order_detail, 'status': 4}) }}">Canceled</a>
			</li>
			<li>
				<a class="dropdown-item" href="{{ path('app_order_change_status', {'id': order_detail, 'status': 14}) }}">Canceled (Reset product quantity)</a>
			</li>
		{% endif %}

		{% if order_detail.status == 2 %}
			<li>
				<a class="dropdown-item" href="{{ path('app_order_change_status', {'id': order_detail, 'status': 0}) }}">Pending</a>
			</li>
			<li>
				<a class="dropdown-item" href="{{ path('app_order_change_status', {'id': order_detail, 'status': 10}) }}">Pending (Reset product quantity)</a>
			</li>
			<li>
				<a class="dropdown-item" href="{{ path('app_order_change_status', {'id': order_detail, 'status': 1}) }}">Processing</a>
			</li>
			<li>
				<a class="dropdown-item" href="{{ path('app_order_change_status', {'id': order_detail, 'status': 11}) }}">Processing (Reset product quantity)</a>
			</li>
			<li>
				<a class="dropdown-item" href="{{ path('app_order_change_status', {'id': order_detail, 'status': 3}) }}">Delivered</a>
			</li>
			<li>
				<a class="dropdown-item" href="{{ path('app_order_change_status', {'id': order_detail, 'status': 13}) }}">Delivered (Reset product quantity)</a>
			</li>
			<li>
				<a class="dropdown-item" href="{{ path('app_order_change_status', {'id': order_detail, 'status': 4}) }}">Canceled</a>
			</li>
			<li>
				<a class="dropdown-item" href="{{ path('app_order_change_status', {'id': order_detail, 'status': 14}) }}">Canceled (Reset product quantity)</a>
			</li>
		{% endif %}

		{% if order_detail.status == 3 %}
			<li>
				<a class="dropdown-item" href="{{ path('app_order_change_status', {'id': order_detail, 'status': 0}) }}">Pending</a>
			</li>
			<li>
				<a class="dropdown-item" href="{{ path('app_order_change_status', {'id': order_detail, 'status': 10}) }}">Pending (Reset product quantity)</a>
			</li>
			<li>
				<a class="dropdown-item" href="{{ path('app_order_change_status', {'id': order_detail, 'status': 1}) }}">Processing</a>
			</li>
			<li>
				<a class="dropdown-item" href="{{ path('app_order_change_status', {'id': order_detail, 'status': 11}) }}">Processing (Reset product quantity)</a>
			</li>
			<li>
				<a class="dropdown-item" href="{{ path('app_order_change_status', {'id': order_detail, 'status': 2}) }}">Shipped</a>
			</li>
			<li>
				<a class="dropdown-item" href="{{ path('app_order_change_status', {'id': order_detail, 'status': 12}) }}">Shipped (Reset product quantity)</a>
			</li>
			<li>
				<a class="dropdown-item" href="{{ path('app_order_change_status', {'id': order_detail, 'status': 4}) }}">Canceled</a>
			</li>
			<li>
				<a class="dropdown-item" href="{{ path('app_order_change_status', {'id': order_detail, 'status': 14}) }}">Canceled (Reset product quantity)</a>
			</li>
		{% endif %}

		{% if order_detail.status == 4 %}
			<li>
				<a class="dropdown-item" href="{{ path('app_order_change_status', {'id': order_detail, 'status': 0}) }}">Pending</a>
			</li>
			<li>
				<a class="dropdown-item" href="{{ path('app_order_change_status', {'id': order_detail, 'status': 10}) }}">Pending (Reset product quantity)</a>
			</li>
			<li>
				<a class="dropdown-item" href="{{ path('app_order_change_status', {'id': order_detail, 'status': 1}) }}">Processing</a>
			</li>
			<li>
				<a class="dropdown-item" href="{{ path('app_order_change_status', {'id': order_detail, 'status': 11}) }}">Processing (Reset product quantity)</a>
			</li>
			<li>
				<a class="dropdown-item" href="{{ path('app_order_change_status', {'id': order_detail, 'status': 2}) }}">Shipped</a>
			</li>
			<li>
				<a class="dropdown-item" href="{{ path('app_order_change_status', {'id': order_detail, 'status': 12}) }}">Shipped (Reset product quantity)</a>
			</li>
			<li>
				<a class="dropdown-item" href="{{ path('app_order_change_status', {'id': order_detail, 'status': 3}) }}">Delivered</a>
			</li>
			<li>
				<a class="dropdown-item" href="{{ path('app_order_change_status', {'id': order_detail, 'status': 13}) }}">Delivered (Reset product quantity)</a>
			</li>
		{% endif %}
	</ul>
	
	
</div>

<form action="{{ path('app_order_change_status', {'id': order_detail}) }}">
	<div class="card">
		<div class="card-header">
			<h3 class="card-title">Order Detail</h3>

			<div class="card-tools">
				<button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
					<i class="fas fa-minus"></i>
				</button>
				<button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
					<i class="fas fa-times"></i>
				</button>
			</div>
		</div>
		<div class="card-body p-0">
			<table class="table table-striped projects">
				<tr>
					<th>ID</th>
					<td>{{order_detail.id}}</td>
				</tr>
				<tr>
					<th>First name</th>
					<td>{{order_detail.firstname}}</td>
				</tr>
				<tr>
					<th>Last name</th>
					<td>{{order_detail.lastname}}</td>
				</tr>
				<tr>
					<th>Phone Number</th>
					<td>{{order_detail.phone}}</td>
				</tr>
				<tr>
					<th>Email</th>
					<td>{{order_detail.email}}</td>
				</tr>
				<tr>
					<th>Address</th>
					<td>{{order_detail.address1}},
						{{order_detail.address2}},
						{{order_detail.address3}},
						{{order_detail.address4}}</td>
				</tr>
				<th>Zipcode</th>
				<td>{{order_detail.zipcode}}</td>
			</tr>
			<tr>
				<th>Created</th>
				<td>{{order_detail.createdat|format_datetime}}</td>
			</tr>
			<tr>
				<th>Last Updated</th>
				<td>{{order_detail.updatedat|format_datetime}}</td>
			</tr>
			<tr>
				<th>status</th>
				<td>
				{% if order_detail.status == 0 %}
						<span class="badge badge-warning">Pending</span>
					{% endif %}
					{% if order_detail.status == 1 %}
						<span class="badge badge-info">Processing</span>
					{% endif %}
					{% if order_detail.status == 2 %}
						<span class="badge badge-info">Shipped</span>
					{% endif %}
					{% if order_detail.status == 3 %}
						<span class="badge badge-success">Delivered</span>
					{% endif %}
					{% if order_detail.status == 4 %}
						<span class="badge badge-danger">Canceled</span>
					{% endif %}

				</select>
				</td>
			</tr>
			<tr>
				<th>Total</th>
				<td>{{order_detail.total|format_currency('VND')}}</td>
			</tr>
		</table>
	</div>
</form>
<!-- /.card-body --></div><div class="card">
<div class="card-header">
	<h3 class="card-title">All items</h3>

	<div class="card-tools">
		<button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
			<i class="fas fa-minus"></i>
		</button>
		<button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
			<i class="fas fa-times"></i>
		</button>
	</div>
</div>
<div class="card-body p-0">
	<table class="table table-striped projects">
		<thead>
			<tr>
				<th class="text-center">
					ID
				</th>
				<th class="text-center">
					Name
				</th>
				<th class="text-center">
					Price
				</th>
				<th class="text-center">
					Quantity
				</th>
				<th class="text-center">
					Total
				</th>
			</tr>
		</thead>
		<tbody>
			{% for order_item in order_items %}
				{% for product in products %}
					{% if product == order_item.product %}
						<tr>
							<td class="text-center">
								<a href="{{ path('app_product_show_admin', {'id': product}) }}">{{product}}</a>
							</td>
							<td class="text-center">
								{{product.name}}
							</td>
							<td class="text-center">
								{{ product.price|format_currency("VND") }}
							</td>
							<td class="text-center">
								{{order_item.quantity}}
							</td>
							<td class="text-center">
								{{order_detail.total|format_currency("VND") }}
							</td>
						</tr>
					{% endif %}
				{% endfor %}
			</tbody>
		</tbody>
	</table>
</td class="text-center"></td><td class="project-actions text-center"></td></tr>{% endfor %}</tbody></table></div><!-- /.card-body --></div>{% endblock %} #}
